
.body {
    max-width: 1200px;
    margin: auto;
    font-size: 16px !important;
}
.p {
  font-size: 18px;
}
.splash {
    background-image: url('/images/child_brain2.png');
    max-height: 800px;
    min-height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.fullwidth-block {
   padding: 35px 0px 0px 0px; }
 
.section-title {
  font-size: 30px;
  font-size: 2em;
  font-weight: 300;
  margin-bottom: 30px; 
  margin-top: 10px;
  }

.feature {
    margin-bottom: 30px;
    text-align: center;
    border: 1px solid #e1e8ec;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); 
}
.feature .feature-image {
      margin-bottom: 20px; }
.feature .feature-title {
      font-size: 30px;
      font-size: 2em;
      font-weight: 300; }
.feature p {
      font-size: 16px;
      font-size: 1.0666666667em;
      margin-bottom: 30px; 
      text-align: center;}
.feature-title {
    margin-top: 10px;
}

.button {
    background: #ACCCCC;
    background: #337ab7;
    display: inline-block;
    padding: 10px 25px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    color: #F1FAEE;
    font-size: 15px;
    -webkit-transition: .3s ease;
            transition: .3s ease; 
    /* text-shadow: 1px 1px 10px #26272b; */
        
    }
.button:hover{
    box-shadow: inset 0 0 100px #A8DADC;
    color: white; }
.button.white{
    background: white; }

.navbar-default .navbar-brand {
    height: auto;
    font-size: 25px;
    color: #F1FAEE;
    letter-spacing: 2px;
}
.navbar-default .navbar-brand:hover {
    color:#A8DADC;
}

.banner {
    background: #1D3557;
    font-family: Lato, sans-serif;
}
.navbar-nav-primary {
    text-transform: uppercase;
  }
.navbar {
    margin-bottom: 0px;
    border-color: #1D3557;
    border-radius: 0px; 
}
.slide-content {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 50px;
    
}
.slide-title {
    font-family: 'Montserrat', sans-serif;
    color:#F1FAEE;
    font-size: 60px;
    font-weight: 300;
    text-shadow: 1px 1px 15px rgb(39, 39, 39);
}
.slide-text {
    color:#F1FAEE;
    font-size: 18px;
    font-weight: 400;
    text-shadow: 1px 1px 15px rgb(39, 39, 39);

}
.navbar-nav > li > a {
    letter-spacing: 2px;
    font-size: 14px;
}
.navbar-default .navbar-nav > li > a {
    color:#F1FAEE;
    font-weight: 500;

}
.navbar-default .navbar-nav > li > a:hover {
  color:#A8DADC;
}

.navbar-default .navbar-nav > li > a:active {
  color:#A8DADC;
}

.main-content {
    /* background-color: #F1FAEE; */
    background-color: white;
}
.feature {
    /* background-color: white; */
    background-color: #F1FAEE;
}
.mission {
    text-align: justify;
    margin-bottom: 50px;
}

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;

}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}

.bg-primary {
    /* background-color: #63899F; */
    background-image: url('/images/child_brain2.png');
    /* background-size: fill ; */
}
.panel-title {
    color: #337ab7;
}
.panel-title:hover {
    color: #3366cc
}

#members {
  padding-top: 50px;
  /* background-color: #F1FAEE; */
}
#members .thumbnail{
  background-color:white;
}

@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
  .site-footer {
    background-color: #f0f0f0;
    width: 100%;
    text-align: center;
    padding: 20px 0;
}

.site-footer .footer-content {
    margin-bottom: 20px;
}

.site-footer img {
    margin: 5px;
}

.site-footer .footer-links {
    color: #555;
    font-size: 16px;
}

.site-footer ul {
    list-style: none;
    padding: 0;
}

.site-footer ul li {
    display: inline;
    margin: 0 10px;
}
}

